@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    background-color: #242629;
    color: #eee;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #181a1d;
    padding: 10px 0;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloque-cen {
    display: flex;
    align-items: center;
}

.bloque-colapsable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #893839;
    padding: 5px 15px;
    border-radius: 4px 4px 0 0;
}

.bloque-contenedor {
    background-color: #181a1d;
    color: #eee;
    padding: 10px 15px;
}

.bloque-lista {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.lista-titulo {
    max-width: 50%;
}

.lista-detalles {
    display: flex;
}

.lista-detalles div {
    margin-right: 20px;
}

.bloque-post {
    display: flex;
    background-color: #181a1d;
    color: #eee;
    padding: 10px 15px;
}

.post-autor {
    padding: 10px;
    color: #ec5555;
}

.post-contenido {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.post-contenido p {
    padding: 10px;
    min-height: 150px;
}

.user-nick {
    padding: 10px;
    color: #ec5555;
}

h1 {
    padding-bottom: 15px;
}

h1, h2, h3, h4, nav, button, input[type="submit"] {
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li {
    color: #ec5555;
    text-decoration: none;
}

a {
    color: #ec5555;
    text-decoration: none;
}

a:hover {
    color: #eee;
    text-decoration: underline;
}

.camposform {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 10px;
    gap: 5px;
}

section {
    padding: 20px 0;
}

footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #181a1d;
    color: #eee;
    text-align: center;
    padding: 10px 0;
}

input[type="submit"] {
    border-color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #000;
    color: #ec5555;
    font-weight: bold;
    transition: 0.5s;
}

button {
    border-color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #000;
    color: #ec5555;
    font-weight: bold;
    transition: 0.5s;
}

input[type="submit"]:hover {
    color: #eee;
    background-color: #ec5555;
}

button:hover {
    color: #eee;
    background-color: #ec5555;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 5px 10px 5px;
    border: 2px solid transparent;
    border-radius: 2px;
    outline: none;
    transition: 0.5s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border: 2px solid #ec5555;
}

#fondo {
    padding: 100px;
}